# gradle
.gradle/
build/
out/
classes/

# eclipse / idea / vscode
*.launch
.settings/
.metadata
.classpath
.project
bin/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# fabric
run/
remappedSrc/

# macos
.DS_Store
